{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('manager_workout') }}
{% endblock %}

{% block title %}
    <h1>Modelos Cadastrados</h1>
{% endblock %}

{% block body %}
{% endblock %}


