<li class="nav-item mx-3">
    <a href="{{ path('app_preference_change_theme') }}" class="nav-link" data-bs-toggle="tooltip"
       data-bs-placement="left" title="Alterar tema">
        {% if global_vars.theme == 'light' %}
            {{ ux_icon('solar:moon-linear', {class: 'text-primary'}) }}
        {% else %}
            {{ ux_icon('solar:sun-linear', {class: 'text-warning'}) }}
        {% endif %}
    </a>
</li>
